.breaking-news {
    font-family: Palatino, "Palatino Linotype", Georgia, serif;
    background: transparent url(../img/bg-home-breaking-news.png) no-repeat left;
    border: 2px solid #EE2832;
    height: 45px;
    margin: 15px 0;
}
.breaking-news .breaking-news-header {
    width: 90px;
    border-top: 0 none;
    float: left;
    color: #fff;
    font-size: 1.333em;
    line-height: 1em;
    margin: 8px 30px 0 45px;
    padding: 0;
    text-transform: none !important;
}
.breaking-news .headline {
    color: #575757;
    float: left;
    font-size: 1.75em;
    letter-spacing: -0.03em;
    font-weight: normal;
    padding: 13px 13px 13px 0;
}
.breaking-news span.read-more {
    background: no-repeat;
    color: #179BCD;
    float: left;
    padding: 17px 20px 0 5px;
}
